## Numbeo Extract - cities

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [2]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

**Query parameters:**

Parameter name|Description|Mandatory
---|---|---
api_key|API Key|yes

In [3]:
request = requests.get("http://www.numbeo.com:8008/api/cities?api_key=")

In [4]:
df = json_normalize(json.loads(request.text)['cities'])
df.head()

       city  city_id  country   latitude  longitude
0  Abelessa        1  Algeria  22.187777   4.069545
1     Adrar        2  Algeria  27.875614  -0.290750
2      Aflu        3  Algeria  34.113883   2.097262
3   Algiers        4  Algeria  36.752887   3.042048
4    Annaba        5  Algeria  36.902859   7.755543

In [5]:
df['city_id']

0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8
8            9
9           10
10          11
11          12
12          13
13          14
14          15
15          16
16          17
17          18
18          19
19          20
20          21
21          22
22          23
23          24
24          25
25          26
26          27
27          28
28          29
29          30
         ...
13504    14131
13505    14133
13506    14135
13507    14136
13508    14137
13509    14142
13510    14143
13511    14144
13512    14145
13513    14147
13514    14148
13515    14149
13516    14150
13517    14151
13518    14152
13519    14153
13520    14154
13521    14155
13522    14156
13523    14157
13524    14158
13525    14159
13526    14160
13527    14161
13528    14162
13529    14163
13530    14164
13531    14166
13532    14167
13533    14168
Name: city_id, Length: 13534, dtype: int64