## Numbeo Extract - cities

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [2]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [7]:
request= requests.get("http://www.numbeo.com:8008/api/cities?api_key=")

In [8]:
#request.text

In [11]:
df= json_normalize(json.loads(request.text)['cities'])
df.head()

       city  city_id  country   latitude  longitude
0  Abelessa        1  Algeria  22.187777   4.069545
1     Adrar        2  Algeria  27.875614  -0.290750
2      Aflu        3  Algeria  34.113883   2.097262
3   Algiers        4  Algeria  36.752887   3.042048
4    Annaba        5  Algeria  36.902859   7.755543