## Numbeo Extract - price_items

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [6]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [15]:
request= requests.get("http://www.numbeo.com:8008/api/price_items?api_key=")

In [16]:
# request.text

In [17]:
df= json_normalize(json.loads(request.text)['items'])
df.head()

,category,cpi_factor,item_id,name,rent_factor
0,Restaurants,16.0,1,"Meal, Inexpensive Restaurant",0.0
1,Restaurants,3.5,2,"Meal for 2 People, Mid-range Restaurant, Three...",0.0
2,Restaurants,6.0,3,McMeal at McDonalds (or Equivalent Combo Meal),0.0
3,Restaurants,5.0,4,Domestic Beer (0.5 liter draught),0.0
4,Restaurants,5.0,5,Imported Beer (0.33 liter bottle),0.0