## Numbeo Extract - country_prices

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [1]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [18]:
request= requests.get("http://www.numbeo.com:8008/api/country_prices?api_key=")

In [1]:
#request.text

In [24]:
request= requests.get("http://www.numbeo.com:8008/api/country_prices?api_key=&country=Serbia")

In [2]:
#request.text

In [26]:
df= json_normalize(json.loads(request.text)['prices'])
df.head()

,average_price,data_points,highest_price,item_id,item_name,lowest_price
0,500.0,114,800.000000,1,"Meal, Inexpensive Restaurant, Restaurants",400.0
1,2000.0,110,3000.000000,2,"Meal for 2 People, Mid-range Restaurant, Three...",1500.0
2,500.0,96,590.709320,3,McMeal at McDonalds (or Equivalent Combo Meal)...,400.0
3,150.0,117,180.000000,4,"Domestic Beer (0.5 liter draught), Restaurants",120.0
4,180.0,114,236.283728,5,"Imported Beer (0.33 liter bottle), Restaurants",130.0

In [27]:
df= json_normalize(json.loads(request.text))
df

,contributors,currency,monthLastUpdate,name,prices,yearLastUpdate
0,644,RSD,5,Serbia,"[{'lowest_price': 400, 'item_name': 'Meal, Ine...",2018