## Numbeo Extract - close_cities_with_prices

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [13]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [41]:
request= requests.get("http://www.numbeo.com:8008/api/close_cities_with_prices?api_key=&query=Serbia&min_contributors=2&max_distance=10000")

In [40]:
#json_parse = json.loads(request.text)
#request.text

In [42]:
df= json_normalize(json.loads(request.text)['cities'])
df.head()

   city_id  country   latitude  longitude          name    short_name
0     5991   Poland  51.246454  22.568446        Lublin        Lublin
1    12610   Poland  50.923283  22.226957       Krasnik       Krasnik
2     8808   Poland  52.167603  22.290164       Siedlce       Siedlce
3     5060  Belarus  52.100564  23.680301         Brest         Brest
4    12652   Poland  50.582600  22.053586  Stalowa Wola  Stalowa Wola

In [36]:
request= requests.get("http://www.numbeo.com:8008/api/close_cities_with_prices?api_key=&query=Belgrade&min_contributors=2&max_distance=10000")

In [37]:
df= json_normalize(json.loads(request.text)['cities'])
df.head()

   city_id country   latitude  longitude      name short_name
0     6189  Serbia  44.817879  20.456809  Belgrade   Belgrade