## Numbeo Extract - historical_currency_exchange_rates

To extract from the API of NUmbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [2]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

In [3]:
request= requests.get("http://www.numbeo.com:8008/api/historical_currency_exchange_rates?api_key=&month=3&year=2014")

In [1]:
#request.text

In [5]:
df= json_normalize(json.loads(request.text)['exchange_rates'])
df.head()

  currency  one_eur_to_currency  one_usd_to_currency
0      AED             0.197604             0.272257
1      AFN             0.012864             0.017724
2      ALL             0.007137             0.009833
3      AMD             0.001757             0.002420
4      ANG             0.405475             0.558659

In [6]:
df= json_normalize(json.loads(request.text))
df.head()

                                      exchange_rates  month  year
0  [{'one_eur_to_currency': 0.19760413830656137, ...      3  2014