## Numbeo Extract - exchange_rates

To extract from the API of Numbeo follow the next steps:
- Access the url prefix with a request method e.g. `https://www.numbeo.com:8008/api/<DOCUMENT>?api_key=<YOUR_KEY>`
- Every document (table) in Numbeo has different parameters to query, for more info go to [API doc](https://www.numbeo.com/api/doc.jsp)

In [1]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

**Query parameters:**

Parameter name|Description|Mandatory
---|---|---
api_key|API Key|yes

In [2]:
request = requests.get("http://www.numbeo.com:8008/api/currency_exchange_rates?api_key=")

In [3]:
df = json_normalize(json.loads(request.text)['exchange_rates'])
df.head()

  currency  one_eur_to_currency  one_usd_to_currency
0      AED             4.288230             3.672903
1      AFN            83.383343            71.418500
2      ALL           125.610814           107.586667
3      AMD           562.827556           482.066304
4      ANG             2.093216             1.792856

This table shows the relation between the currency key and the exchange rate of euros and us dollars

As we might see in the query to the website   
https://www.numbeo.com/cost-of-living/in/Maastricht  
https://www.numbeo.com/cost-of-living/in/Maastricht?displayCurrency=MXN  
The user only needs to provide a particular currency on the "currency section"

The table can be  via directly also [here](https://www.numbeo.com/common/currency_settings.jsp?return=/cost-of-living/in/Maastricht)
Is important to note that the currency acronyms have no country related

In [5]:
df.describe()

       one_eur_to_currency  one_usd_to_currency
count           164.000000           164.000000
mean           1203.710563          1030.987727
std            5075.860215          4347.514881
min               0.000156             0.000134
25%               2.602123             2.228739
50%              16.609162            14.225880
75%             151.346788           129.629735
max           49241.207664         42175.488294

In [7]:
df.isnull().sum()

currency               0
one_eur_to_currency    0
one_usd_to_currency    0
dtype: int64

164 types of different currencies and not any null data

Based on the list of currency acronyms [ISO_4217](https://en.wikipedia.org/wiki/ISO_4217) an auxiliar table is created

In [9]:
df_codes = pd.read_csv('https://s3.eu-west-3.amazonaws.com/pedrohserrano-datasets/ISO4217.csv')

In [10]:
df.head()

  currency  one_eur_to_currency  one_usd_to_currency
0      AED             4.288230             3.672903
1      AFN            83.383343            71.418500
2      ALL           125.610814           107.586667
3      AMD           562.827556           482.066304
4      ANG             2.093216             1.792856